<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("shared.micropost.placeholder") %>
  </div>
  <%= f.submit t("shared.micropost.submit"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: t("shared.micropost.image")  %>
  </span>
<% end %>
